thriftpy==0.3.1
packtools
django==1.8.3
requests==2.8.1
-e git+https://github.com/scieloorg/xylose@1.15.5#egg=xylose
-e git+https://github.com/fabiobatalha/doaj_client@0.1#egg=doaj_client
-e git+https://github.com/scieloorg/processing@1.4.1#egg=processing
