thriftpy==0.3.1
packtools
requests==2.8.1
xylose==1.16.5
articlemetaapi==1.5.10
scieloh5m5==1.5.4
citedbyapi==1.3.7
-e git+https://github.com/fabiobatalha/doaj_client@0.2#egg=doaj_client
-e git+https://github.com/scieloorg/processing@1.11.5#egg=processing
