accessstatsapi==1.2.1
articlemetaapi==1.26.5
certifi==2019.11.28
chardet==3.0.4
citedbyapi==1.11.3
-e git+https://github.com/fabiobatalha/doaj_client@27c2c17dc6d0d9ee3aa12283b20c1ac6170869b6#egg=doaj_client-master
idna==2.7
legendarium==2.0.2
lxml==4.5.0
packtools==2.5.3
pathlib==1.0.1
picles.plumber==0.11
ply==3.11
publicationstatsapi==1.2.1
requests==2.19.1
-e git+https://github.com/scieloorg/scieloh5m5.git@1.9.6#egg=scieloh5m5
thriftpy==0.3.9
urllib3==1.23
wsgiref==0.1.2
xylose==1.35.4
